[Unit]
Description=Establish connection with Azure IoT Hub for door opening service
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/node /home/pi/Projects/solidbrain-space-intercom/app.js > /home/pi/solidbrain-space-intercom.log 2>&1
Restart=always
RuntimeMaxSec=infinity

[Install]
WantedBy=multi-user.target